
<h1 style='color:blue'> 06. Julia Numbers, Types Conversion and Mathematics</h1>
<hr style="border:2px solid grey"> </hr>

In this notebook, you'll learn about the different numbers used in Julia, how to convert from one data type to the other, and the mathematical operations supported in Julia.

## 6.1. Number Data Type in Julia

Recall that from last notebook that

* Integers, floating point numbers and complex numbers fall under Python numbers category. They are defined as int, float and complex classes in Python.

* Integers and floating points are separated by the presence or absence of a decimal point. For instance, 5 is an integer whereas 5.0 is a floating-point number.

* Complex numbers are written in the form, `x + yim`. Global constant *`im`* is used to represent complex number *`i`* where *`i`* is square root of *`-1`*. Also x is the real part and y is the imaginary part.

* We can use the `typeof()` function to know which class a variable or a value belongs to. 

Let's look at an example:

In [12]:
a = 10
# type integer
println(typeof(a)) 

# type float
b=5.8
println(typeof(b))  

# type complex
c = 6 + 3im
println(typeof(c))

Int64
Float64
Complex{Int64}

<hr style="border:2px solid grey"> </hr>

## 6.2. Type Conversion

We can convert one type of number into another.

### (1) Convert `Int` to `Float` using `convert()` function :

In [49]:
x=12
xf = convert(Float64, x)
println(" Convert ",x," to float = ", xf)

 Convert 12 to float = 12.0

### (2) Convert `Float` to `Int` using `trunc()` or `floor()` function :

In [50]:
x=12.45
xi=trunc(Int,x)
println(" Convert ", x, " to int = ", xi)

 Convert 12.45 to int = 12

In [51]:
# Alternatively
x=12.98
xi=floor(Int,x)
println(" Convert ", x, " to int = ", xi)

 Convert 12.98 to int = 12

**NOTE** `convert()` function doesn't work while converting `float` to `int`

Consider another example

In [48]:
x=2.98765421
y=2
a=y-x
println("a = ",a)

b=x-trunc(Int, x)
println("b = ", b)

a = -0.9876542100000001
b = 0.9876542100000001

### (3) Convert `string` to `Int` using `parse()` function :

In [66]:
a = "456"
  
# prints the string 
println(a, " is string") 

b=parse(Int64, a)

println(b, " is an int")
# convert string to int
# parsing the string to integer 
print("Datatype of ",b, " is ",typeof(parse(Int64, a)))

456 is string
456 is an int
Datatype of 456 is Int64

<hr style="border:2px solid grey"> </hr>

## 6.3. Mathematical Functions

  ### 6.3.1.  - π :   Type `\pi` TAB to insert the Unicode character

In [1]:
π

π = 3.1415926535897...

In [2]:
# One can write pi also 
pi

π = 3.1415926535897...

In [3]:
println(π/2,",",π/3,",",π/4,",",π/6)

1.5707963267948966,1.0471975511965976,0.7853981633974483,0.5235987755982988

 ### 6.3.2. Power of x

In [4]:
x=3
n=4
println(x," to power ",n, " is " , x^n)

x=3
n=1/2
println(x," to power ",n, " is " , x^n)

3 to power 4 is 81
3 to power 0.5 is 1.7320508075688772

 ### 6.3.3. The absolute value function

In [76]:
x= -5
println("Absolute value of ",x, " is ", abs(x))

Absolute value of -5 is 5

 ### 6.3.4. Signed function

Returns 1 if x is equal to positive value, -1 if x is equal to negative value and 0 otherwise

In [80]:
x=5
println(sign(x))

x=-5
println(sign(x))

x=0
println(sign(x))

1
-1
0

 ### 6.3.5. Square root of x

In [85]:
x=5
println(" Square root of ", x, " is " , sqrt(x))
println()

x=5.45623
println(" Square root of ", x, " is " , sqrt(x))

 Square root of 5 is 2.23606797749979

 Square root of 5.45623 is 2.3358574442803652

 ### 6.3.6. Cube root of x

In [86]:
x=9
println(" Square root of ", x, " is " , cbrt(x))
println()

x=5.45623
println(" Square root of ", x, " is " , cbrt(x))

 Square root of 9 is 2.080083823051904

 Square root of 5.45623 is 1.7604791653328453

 ### 6.3.7. Hypotenuse of right-angled triangle with other sides of length x and y

In [90]:
x=3
y=4
println(" Hypotenuse of right angled triangle with sides ", x, " and ", y, " is "  , hypot(x,y))

 Hypotenuse of right angled triangle with sides 3 and 4 is 5.0

 ### 6.3.8. Natural exponential function at x

In [93]:
x=10
println(" Exponential of ", x, " is " , exp(x))

 Exponential of 10 is 22026.465794806718

 ### 6.3.9. Natural logarithm of x

In [96]:
x=23
println(" Natural log of ", x, " is " , log(x))

 Natural log of 23 is 3.1354942159291497

 ### 6.3.10. Logarithm of x with base b

In [98]:
x=33
b = 4 # base is b
println(" Natural log of ", x, " is " , log(b,x))

 Natural log of 33 is 2.5221970596792267

In [99]:
pi

π = 3.1415926535897...

 ### 6.3.11. Trignometric functions

Julia has the 6 basic trigonometric functions defined through the functions `sin()`, `cos()`, `tan()`, `csc()`, `sec()`, and `cot()`.

It is illustrate below:

In [116]:
# Here angle is in radian
θ0= 0
θ1= π/2
θ2= π/3
θ3= π/6
println("sin(0)= ", sin(θ0))
println("cos(π/2)= ", cos(θ1))
println("tan(π/3)= ", tan(θ2))
println("sec(π/6)= ", sec(θ3))

sin(0)= 0.0
cos(π/2)= 6.123233995736766e-17
tan(π/3)= 1.7320508075688767
sec(π/6)= 1.1547005383792515

In [119]:
# Here angle is in degree
θ0= 0
θ1= 45
θ2= 30
θ3= 60
println("sindd(0)= ", sind(θ0))
println("cosd(45)= ", cosd(θ1))
println("tand(30)= ", tand(θ2))
println("cscd(60)= ", cscd(θ3))

sind(0)= 0.0
cosd(45)= 0.7071067811865476
tand(30)= 0.5773502691896258
cscd(60)= 1.1547005383792517

In [125]:
# Check if sin(θ)^2 + cos(θ)^2 =1
println(" sin(θ)^2 + cos(θ)^2 =  ", sind(θ1)^2+cosd(θ1)^2)

 sin(θ)^2 + cos(θ)^2 =  1.0000000000000002

**NOTE** Similarly hyperbolic functions like  `sinh()`, `cosh()`,`tanh()`,`coth()`,`sech()`,`csch()` are defined in Julia

<hr style="border:2px solid grey"> </hr>